@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans:wght@300&display=swap');
/* font-family: 'Francois One', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

body {
  background-color: #FFDEFA;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#cattext {
  text-align: center;
  max-width: 500px;
  
}

.img-logo {
  max-height: 100px;
  transform: rotate(-20deg);
}

#right {
  transform: rotate(20deg);
}

header {
  font-family: 'Francois One', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  display: flex;
}

header > h1 {
  margin: 0;
}

nav{
  width: 300px;
  margin-bottom: 15px;

}

nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: None;
  padding: 0;
  width: 100%;
  border-bottom: 3px solid rgba(248, 227, 105, 0.952);
  box-shadow: 0 4px 2px -2px rgb(218, 218, 218);
  padding: 5px;
}

.catcards {
  margin: 10px;
  max-width: 28%;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 3px -7px rgba(0,0,0,0.17);
}


.catcards > img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

#best-cat-fact {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  background-color: rgba(248, 227, 105, 0.952);
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  cursor:pointer;
}

#buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#already-saved {
  cursor: none;
  background-color: rgb(160, 160, 160);
  color: white;
  padding: 10px 32px;
  margin: 0;
  margin-top: 10px;
}

#delete-all {
  background-color: rgba(211, 87, 87, 0.705);
  color: white;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(61, 61, 61);
}

.selectedNav {
  background: rgba(248, 227, 105, 0.952);
  border-radius: 10px 10px 0px 0px;
  padding: 7px;
}

article {
  margin: 10px;
  max-width: 30%;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 3px -7px rgba(0,0,0,0.17);
}

article > img {
  width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}




/* Tablet */
@media screen and (min-width: 695px) and (max-width: 900px) {
  #best-cat-fact {
    max-width: 100%;
  }

  article {
    max-width: 80%;
  }

  article > img {
    width: 100%;
    max-height: auto;
  }

  #buttons {
    width: 50%;
    margin-bottom: 20px;
  }


}

/* Mobile/Tablet */
@media screen and (min-width: 601px) and (max-width: 694px){
  #best-cat-fact {
    max-width: 100%;
  }

  .catcards {
    max-width: 40%;
  }

  article {
    max-width: 80%;
  }

  article > img {
    width: 100%;
    max-height: auto;
  }

  #buttons {
    width: 60%;
    margin-bottom: 20px;
  }

  .button, #already-saved {
    padding: 10px 25px;
  }

}

/* Mobile */
@media screen and (max-width: 600px) {
  article {
    max-width: 90%;
  }

  #buttons {
    width: 95%;
    margin-bottom: 20px;
  }

  .button, #already-saved {
    padding: 10px 25px;
  }


  header {
    justify-content: center;
  }

  header > h1 {
    font-size: 40px;
  }

  .img-logo {
    max-width: 20%;
  }
  
  #best-cat-fact {
    max-width: 100%;
  }

  .catcards {
    max-width: 90%;
  }

  nav {
    width: 100%;

  }
  nav > ul {
    display: block;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  nav > ul > li {
    padding: 10px 0px;
    text-align: center;
    background-color: rgb(218, 218, 218);
    margin-top: 2px;
  }

  .selectedNav {
    max-width: 100%;
    padding: 0 5px;
    background-color: rgba(248, 227, 105, 0.952);
    border-radius: 5px;
  }
}

